/* Main */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	color: #292929;
	background-color: #f9f9fa;
	font-weight: 400;
}

a {
	text-decoration: none;
	color: #454141;
}

h2 {
	font-weight: 700;
	font-size: 30px;
	padding: 0;
	margin: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 15px;
}

/* Sidebar */
#sidebar {
	display: block;
	position: fixed;
	float: left;
	width: 160px;
	height: 100%;
	border-right: 1px dotted #ccc;
}

#sidebar .title,
#sidebar .group {
	border-bottom: 1px dotted #ccc;
}

#sidebar .title  {
	font-size: 35px;
}

#sidebar a {
	display: block;
	margin: 15px;
}

/* Content */
#head,
.section {
	width: auto;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-right: 15%;
	padding-left: 15%;
	margin-left: 161px;
	text-align: center;
	
	font-weight: 600;
	font-size: 18px;
	color: #444;
	border-bottom: 1px dotted #ccc;
}

.section .links a {
	text-decoration: none;
	font-size: 16px;
	font-weight: 600;
	color: #888;
	padding: 8px;
	margin: 4px;
}

#sidebar a:hover, /* Part of sidebar */
.section .links a:hover {
	color: #a16a71;
}

.section img {
	display: block;
	max-width: 80%;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;

	box-shadow: 0px 1px 5px rgba(0,0,0,0.25);
	border: 1px solid transparent;
}

.section img:hover {
	box-shadow: 0px 1px 5px #a16a71;
	border: 1px solid #a16a71;
}

/* Animations */
#sidebar a,
#sidebar a:hover,
.section .links a,
.section .links a:hover,
.section img,
.section img:hover {
	transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
}