/*
 * Author: 73 6E 61 63 6B 27 
 * Last edit: 03/04/2013 15:55 +0100
 * 
 * Font:			Open Sans
 * 
 * Text 			#292929
 * Selection		#ccc
 * Anchor			#454141
 * Hover			#a16a71
 * Non-Hover		rgba(0,0,0,0.25)
 * Border			#ccc
 * 
 * Content			#444
 * Content > Anchor	#888
 * 
 * Background		#f9f9fa
 * Background Text	rgba(0,0,0,.5)
 * 
 * Overlay			rgba(0,0,0,.4)
 * Overlay Border	rgba(0,0,0,.25)
 */

/* Main */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	color: #292929;
	background-color: #f9f9fa;
	font-weight: 400;
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: #454141;
}

a:hover {
	text-shadow: 0px 0px 1px #a16a71;
	color: #a16a71;
}

h2 {
	font-weight: 700;
	font-size: 30px;
	padding: 0;
	margin: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 15px;
}

/* Text Selection */
::selection {
	background-color: #ccc;
}

::-moz-selection{
	background-color: #ccc;
}

::-webkit-selection {
	background-color: #ccc;
}

/* Sidebar */
#sidebar {
	display: block;
	position: fixed;
	float: left;
	width: 160px;
	height: 100%;
	border-right: 1px dotted #ccc;
}

#sidebar .title,
#sidebar .group {
	border-bottom: 1px dotted #ccc;
}

#sidebar .title  {
	font-size: 35px;
}

#sidebar a {
	display: block;
	margin: 15px;
}

#sidebar .foot {
	position: absolute;
	bottom: 0;
	width: 160px; /* Sidebar width */
	border-top: 1px dotted #ccc;
}

/* Background code */
#content-wrapper, #content-wrapper:after {
	width: auto;
	height: 100%;
	margin-left: 161px;
}

#content-wrapper:after {
  	color: rgba(0,0,0,.05);
  	content: attr(data-code);
  	font-size: 20px;
  	font-family: monospace;
  	position: absolute;
  	top: 50px;
  	left: 100px;
  	white-space: pre;
  	transform: rotate(-5deg);
	-ms-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
	-webkit-transform: rotate(-5deg);
	-o-transform: rotate(-5deg);
	z-index: -1;
}

/* Content */
#head,
.section {
	padding-top: 5%;
	padding-bottom: 5%;
	padding-right: 15%;
	padding-left: 15%;
	text-align: center;
	
	font-weight: 600;
	font-size: 18px;
	color: #444;
	border-bottom: 1px dotted #ccc;
}

.section .links a {
	text-decoration: none;
	font-size: 16px;
	font-weight: 600;
	color: #888;
	padding: 8px;
	margin: 4px;
}

#sidebar a:hover, /* Part of sidebar */
.section .links a:hover {
	color: #a16a71;
}

.section img {
	display: block;
	max-width: 80%;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;

	box-shadow: 0px 1px 5px rgba(0,0,0,0.25);
	border: 1px solid rgba(0,0,0,0.25);
}

.section img:hover {
	box-shadow: 0px 1px 5px #a16a71;
	border: 1px solid #a16a71;
}

/* Animations */
a,
a:hover,
#sidebar a,
#sidebar a:hover,
.section .links a,
.section .links a:hover,
.section img,
.section img:hover {
	transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
}

/* Overlay */
#overlay-wrapper {
	display: none;
	position: fixed;
	z-index: 1;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,.4);
}

#overlay-wrapper img {
	display: block;
	max-width: 90%;
	max-height: 90%;
	cursor: pointer;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
}
