@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Raleway);

body {
  margin: 0;
  background-color: #fbfbfb;
  color: #546360;
  font: 14px 'Merriweather Sans', sans-serif;
}

/* Text Selection */
::selection {
  background-color: #fff;
}

::-moz-selection{
  background-color: #fff;
}

::-webkit-selection {
  background-color: #fff;
}

a {
  text-decoration: none;
  display: inline block;
  color: #546360;
  font-weight: 700;
}

p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.5em;
  margin-left: 20px;
}

h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
}

#content {
  width: 80%;
  margin: 0 auto;
}

.section {
  border-top: 1px solid #d0d0d0;
  overflow: auto;
}

.section a {
  color: #953D2A;
}

.title {
  text-align: center;
  margin-bottom: 10px;
}

.data {
  width: 50%;
}

.data div {
  margin: 20px;
}

.img-container {
  border: 1px solid #d0d0d0;
  border-radius: 2px;
}

.img-container,
.img-anchor img {
  position: relative;
}

.img-anchor img {
  width: 100%;
  margin-bottom: -4px;
}

.text-container p {
  margin-bottom: 20px;
}

.text-container a {
  border-bottom: 1px dotted #546360;
}

.left {
  float: left;
  text-align: right;
}

.right {
  float: right;
  text-align: left;
}

.img-anchor:after {
  text-align: center;
  font-size: 1.5em;
  padding-top: 25%;

  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: 'View full image?';
  background: rgba(255,255,255,0.8);

  transition: all 0.3s ease 0s;
  opacity: 0;
}

.img-anchor:hover:after {
  opacity: 1.0;
}
