@charset="utf-8";
/*
 * Author: 73 6E 61 63 6B 27 
 * Last edit: 04/04/2013 11:59 +0100
 */

/* Main */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	color: #37383d;
	background-color: #faf6f0;
	font-weight: 400;
}

a {
	text-decoration: none;
	color: #37383d;
}

a:hover {
	text-shadow: 0px 0px 1px #b88d8c;
	color: #b88d8c;
}

h2 {
	font-weight: 700;
	font-size: 30px;
	padding: 0;
	margin: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 15px;
}

/* Text Selection */
::selection {
	background-color: #d3c9c6;
}

::-moz-selection{
	background-color: #d3c9c6;
}

::-webkit-selection {
	background-color: #d3c9c6;
}

/* Sidebar */
#sidebar {
	display: block;
	position: fixed;
	float: left;
	width: 160px;
	height: 100%;
	border-right: 1px dotted #e6dad6;
}

#sidebar .title,
#sidebar .group,
#sidebar .contact {
	border-bottom: 1px dotted #e6dad6;
}

#sidebar .title  {
	font-size: 35px;
}

#sidebar a {
	display: block;
	margin: 15px;
}

#sidebar .contact {
	margin-top: 75px;
	border-top: 1px dotted #e6dad6;
}

#sidebar .contact img {
	margin-bottom: -1px;
	margin-right: 5px;
}

#sidebar .contact a:hover img {
	opacity: 0.7;
}

/* Content */
#head,
.section {
	width: auto;
	margin-left: 161px; /* Sidebar width + sidebar border width */
	padding-top: 5%;
	padding-bottom: 5%;
	padding-right: 15%;
	padding-left: 15%;
	text-align: center;
	
	font-weight: 600;
	font-size: 18px;
	color: #37383d;
	border-bottom: 1px dotted #e6dad6;
}

.section .links a {
	text-decoration: none;
	font-size: 16px;
	font-weight: 600;
	color: #b3a196;
	padding: 8px;
	margin: 4px;
}

#sidebar a:hover, /* Part of sidebar */
.section .links a:hover {
	color: #b88d8c;
}

.section img {
	display: block;
	max-width: 80%;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;

	box-shadow: 0px 0px 5px #7d7164;
	border: 1px solid #7d7164;
}

.section img:hover {
	box-shadow: 0px 0px 5px #b88d8c;
	border: 1px solid #b88d8c;
}

/* Code Blocks */
.code {
	display: block;
	max-width: 70%;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 15px 15px 13px 15px;
	
	font-family: 'Source Code Pro', sans-serif;
	font-size: 12px;
	line-height: 1.2em;
	white-space: pre-wrap;
	text-align: left;
	
	color: #586e75;
	background: #e6dad6;
	box-shadow: 0px 0px 5px #b3a196;
	border: 1px solid #b3a196;
}

.code .code-title {
	font-size: 13px;
	border-bottom: 1px solid #b3a196;
	/* negative .code padding */
	margin-left: -15px;
	margin-right: -15px;
	margin-top: -5px;
	margin-bottom: 10px;
	/* new padding */
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
}

.code .black {
	color: #073642;
}

.code .green {
	color: #859900;
}

.code .yellow {
	color: #b58900;
}

.code .cyan {
	color: #269186;
}

.code .pink {
	color: #d33682;
}

.code .red {
	color: #c60000;
}

.code .orange-red {
	color: #cb4b16;
}

.code .thick {
	font-weight: 700;
}

/* Animations */
a,
a:hover,
#sidebar a,
#sidebar a:hover,
#sidebar .contact img,
#sidebar .contact a:hover img,
.section .links a,
.section .links a:hover,
.section img,
.section img:hover {
	transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
}

/* Overlay */
#overlay-wrapper {
	display: none;
	position: fixed;
	z-index: 999;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,.4);
}

#overlay-wrapper img {
	display: block;
	max-width: 90%;
	max-height: 90%;
	cursor: pointer;
	box-shadow: 0px 0px 10px #7d7164;
}
