/*
 * Author: 73 6E 61 63 6B 27 
 * Last edit: 03/04/2013 15:55 +0100
 * 
 * Font				Open Sans
 * 
 * Colorscheme		design-seeds.com/index.php/home/entry/bunny-tones1
 * 
 * Text 			#37383d
 * Selection		#e6dad6
 * Anchor			#37383d
 * Hover			#b88d8c
 * Non-Hover		#7d7164
 * Border			#e6dad6
 * 
 * Content			#7d7164
 * Content > Anchor	#b3a196
 * 
 * Background		#faf6f0
 * Background Text	rgba(0,0,0,.5)
 * 
 * Overlay			rgba(0,0,0,.4)
 * Overlay Border	#e6dad6
 */

/* Main */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	color: #37383d;
	background-color: #faf6f0;
	font-weight: 400;
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: #37383d;
}

a:hover {
	text-shadow: 0px 0px 1px #b88d8c;
	color: #b88d8c;
}

h2 {
	font-weight: 700;
	font-size: 30px;
	padding: 0;
	margin: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 15px;
}

/* Text Selection */
::selection {
	background-color: #e6dad6;
}

::-moz-selection{
	background-color: #e6dad6;
}

::-webkit-selection {
	background-color: #e6dad6;
}

/* Sidebar */
#sidebar {
	display: block;
	position: fixed;
	float: left;
	width: 160px;
	height: 100%;
	border-right: 1px dotted #e6dad6;
}

#sidebar .title,
#sidebar .group {
	border-bottom: 1px dotted #e6dad6;
}

#sidebar .title  {
	font-size: 35px;
}

#sidebar a {
	display: block;
	margin: 15px;
}

#sidebar .foot {
	position: absolute;
	bottom: 0;
	width: 160px; /* Sidebar width */
	border-top: 1px dotted #e6dad6;
}

/* Background code */
#content-wrapper, #content-wrapper:after {
	width: auto;
	height: 100%;
	margin-left: 161px;
}

#content-wrapper:after {
  	color: rgba(0,0,0,.05);
  	content: attr(data-code);
  	font-size: 20px;
  	font-family: monospace;
  	position: absolute;
  	top: 50px;
  	left: 100px;
  	white-space: pre;
  	transform: rotate(-5deg);
	-ms-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
	-webkit-transform: rotate(-5deg);
	-o-transform: rotate(-5deg);
	z-index: -1;
}

/* Content */
#head,
.section {
	padding-top: 5%;
	padding-bottom: 5%;
	padding-right: 15%;
	padding-left: 15%;
	text-align: center;
	
	font-weight: 600;
	font-size: 18px;
	color: #37383d;
	border-bottom: 1px dotted #e6dad6;
}

.section .links a {
	text-decoration: none;
	font-size: 16px;
	font-weight: 600;
	color: #b3a196;
	padding: 8px;
	margin: 4px;
}

#sidebar a:hover, /* Part of sidebar */
.section .links a:hover {
	color: #b88d8c;
}

.section img {
	display: block;
	max-width: 80%;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;

	box-shadow: 0px 0px 5px #7d7164;
	border: 1px solid #7d7164;
}

.section img:hover {
	box-shadow: 0px 0px 5px #b88d8c;
	border: 1px solid #b88d8c;
}

/* Animations */
a,
a:hover,
#sidebar a,
#sidebar a:hover,
.section .links a,
.section .links a:hover,
.section img,
.section img:hover {
	transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
}

/* Overlay */
#overlay-wrapper {
	display: none;
	position: fixed;
	z-index: 1;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,.4);
}

#overlay-wrapper img {
	display: block;
	max-width: 90%;
	max-height: 90%;
	cursor: pointer;
	box-shadow: 0px 0px 10px #7d7164;
}
