@charset 'UTF-8';
/* General Text */
@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,400italic,700,700italic);
/* Titles */
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
/* Icon font */
@import url(http://weloveiconfonts.com/api/?family=entypo);

/* Entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/* Text Selection */
::selection {
  background-color: rgba(255, 255, 180, 0.3);
}

::-moz-selection {
  background-color: rgba(255, 255, 180, 0.3);
}

::-webkit-selection {
  background-color: rgba(255, 255, 180, 0.3);
}

* {
	margin: 0;
	padding: 0;
}

html, body {
  position: relative;
  width: 100%;
  height: 100%;
  background: #f6f5f4;
}

html {
  color: #d0d0d0;
  font-family: 'Noto Sans', sans-serif;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

article {
  margin: 30px auto;
  width: 60%;

  color: #454545;
  font-size: 1.1rem;
}

article h2 {
    margin: 0 0 15px;

    color: #232323;
    font-weight: bold;
    letter-spacing: 0.2rem;
  }
  
article p {
    margin: 0 0 15px;
    width: 100%;
    line-height: 1.9rem;
  }

article ul {
  	padding: 15px;
}

article ul.no-top {
	padding-top: 0px;
}

header {
  position: relative;
  width: 100%;
  height: 60px;
  background: #232323;
}

nav ul {
  position: absolute;
  top: 0;
  right: 0;

  font-size: 0;
}

header > .logo, nav li {
  padding: 0 30px;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  line-height: 60px;
  
  transition: 0.2s;
}

nav li:last-child {
  margin: 0 30px 0 0;
}

header > .logo {
  font-weight: bold;
  letter-spacing: 0.5rem;
}

header > .logo:hover, nav li:hover {
  background: rgba(255, 255, 180, 0.3);
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 20px;
    background: #232323;
    text-align: center;
}
