#imageList {
	width: 100%;
	text-align: center;
}

#imageList td {
	padding: 5px;
}

#imageList a {
	display: block;
	width: 100%;
}

#imageList td, #imageList a {
	text-decoration: none;
	transition: color;
	transition-duration: 400ms;
	-webkit-transition: color;
	-webkit-transition-duration: 400ms;
	-moz-transition: color;
	-moz-transition-duration: 400ms;
	-o-transition: color; 
	-o-transition-duration: 400ms;
}

#imageList td:hover, #imageList a:hover {
	text-decoration: none;
	transition: color, text-shadow;
	transition-duration: 200ms;
	-webkit-transition: color, text-shadow;
	-webkit-transition-duration: 200ms;
	-moz-transition: color, text-shadow;
	-moz-transition-duration: 200ms;
	-o-transition: color, text-shadow;
	-o-transition-duration: 200ms;
}

/* Color override for quick styling */
#imageList a {
	color: #454141;
}

#imageList td:hover, #imageList a:hover {
	text-shadow: 0 0 6px #454141;
}

#imageList img {
	-moz-box-shadow: 0px 0px 15px 2px #454141;
	-webkit-box-shadow: 0px 0px 15px 2px #454141;
	box-shadow: 0px 0px 15px 2px #454141;
}