@font-face{font-family:'EasonPro';src:url('https://d1h9a8s8eodvjz.cloudfront.net//fonts/eason/v1/easonpro-regular-webfont.eot');src:url('https://d1h9a8s8eodvjz.cloudfront.net//fonts/eason/v1/easonpro-regular-webfont.eot?#iefix') format('embedded-opentype'),url('https://d1h9a8s8eodvjz.cloudfront.net//fonts/eason/v1/easonpro-regular-webfont.woff') format('woff'),url('https://d1h9a8s8eodvjz.cloudfront.net//fonts/eason/v1/easonpro-regular-webfont.ttf') format('truetype'),url('https://d1h9a8s8eodvjz.cloudfront.net//fonts/eason/v1/easonpro-regular-webfont.svg#EasonProregular') format('svg');font-weight:normal;font-style:normal}
@font-face{font-family:'EasonPro';src:url('https://d1h9a8s8eodvjz.cloudfront.net//fonts/eason/v1/easonpro-italic-webfont.eot');src:url('https://d1h9a8s8eodvjz.cloudfront.net//fonts/eason/v1/easonpro-italic-webfont.eot?#iefix') format('embedded-opentype'),url('https://d1h9a8s8eodvjz.cloudfront.net//fonts/eason/v1/easonpro-italic-webfont.woff') format('woff'),url('https://d1h9a8s8eodvjz.cloudfront.net//fonts/eason/v1/easonpro-italic-webfont.ttf') format('truetype'),url('https://d1h9a8s8eodvjz.cloudfront.net//fonts/eason/v1/easonpro-italic-webfont.svg#EasonProitalic') format('svg');font-weight:normal;font-style:italic}
@font-face{font-family:'EasonPro';src:url('https://d1h9a8s8eodvjz.cloudfront.net//fonts/eason/v1/easonpro-bold-webfont.eot');src:url('https://d1h9a8s8eodvjz.cloudfront.net//fonts/eason/v1/easonpro-bold-webfont.eot?#iefix') format('embedded-opentype'),url('https://d1h9a8s8eodvjz.cloudfront.net//fonts/eason/v1/easonpro-bold-webfont.woff') format('woff'),url('https://d1h9a8s8eodvjz.cloudfront.net//fonts/eason/v1/easonpro-bold-webfont.ttf') format('truetype'),url('https://d1h9a8s8eodvjz.cloudfront.net//fonts/eason/v1/easonpro-bold-webfont.svg#EasonProBold') format('svg');font-weight:bold;font-style:normal}

* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

body {
	margin: 0 auto;
	width: 750px;
	font-family: 'Droid Sans', sans-serif;
	overflow-x: hidden;
	overflow-y: scroll;
}

#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */
}

h1, h2, #footerText{
	font-family: EasonPro, Times New Roman, serif;
}

#header, #footer {
	padding: 15px;
}

#header h1 {
	font-size: 42px;
	padding-bottom: 5px;
}

#navigation td {
	/*display: inline;
	float: none;*/
	padding: 5px 0px 0px 30px;
}

#navigation td.first-item {
	padding-left: 0px;
}

#navigation td.last-item {
	padding-right: 0px;
}

a {
	text-decoration: none;
	transition: color;
	transition-duration: 400ms;
	-webkit-transition: color;
	-webkit-transition-duration: 400ms;
	-moz-transition: color;
	-moz-transition-duration: 400ms;
	-o-transition: color; 
	-o-transition-duration: 400ms;
}

a:hover {
	text-decoration: none;
	transition: color, text-shadow;
	transition-duration: 200ms;
	-webkit-transition: color, text-shadow;
	-webkit-transition-duration: 200ms;
	-moz-transition: color, text-shadow;
	-moz-transition-duration: 200ms;
	-o-transition: color, text-shadow;
	-o-transition-duration: 200ms;
}

#content {
	padding: 15px;
	color: #222222;
	font-size: 13px;
}

#content hr {
	margin: 10px 0 10px 0;
}

#footer, #push{
	height: 50px; /* .push must be the same height as .footer */
	padding: 0;
}

#footerText {
	padding: 15px;
}

.title {
	font-family: EasonPro, Times New Roman, serif;
	font-size: 15px;
	font-weight: bold;
}

.signature {
	font-family: 'Marck Script', cursive;
	font-size: 17px;
}

/* Just for roster list */
#content ul li {
	display: block;
}

/* Color override for quick styling */
body {
	/*background-color: #EDEEF0;*/
	background: #454141; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ1NDE0MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2VkZWVmMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0NTQxNDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left, #454141 0%, #edeef0 50%, #454141 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#454141), color-stop(50%,#edeef0), color-stop(100%,#454141)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #454141 0%,#edeef0 50%,#454141 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #454141 0%,#edeef0 50%,#454141 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #454141 0%,#edeef0 50%,#454141 100%); /* IE10+ */
	background: linear-gradient(to right, #454141 0%,#edeef0 50%,#454141 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#454141', endColorstr='#454141',GradientType=1 ); /* IE6-8 */
}

#header, #footer, #wrapper{
	-moz-box-shadow: 0px 0px 15px 5px #454141;
	-webkit-box-shadow: 0px 0px 15px 5px #454141;
	box-shadow: 0px 0px 15px 5px #454141;
}

#header, #footer {
	background-color: #454141;
	color: #E1DEE5;
}

#wrapper  {
	background-color: #E1DEE5;
}

#content {
	color: #454141;
}

a {
	color: #E1DEE5;
}

a:hover {
	text-shadow: 0 0 6px #E1DEE5;
}

#content a {
	color: #454141;
}

#content a:hover {
	text-shadow: 0 0 6px #454141;
}