%html
	%head
		%meta{"http-equiv" => "content-type", :content => "text/html; charset=UTF-8"}/
		%meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/

		%link{:href => "assets/favicon.png", :rel => "icon", :type => "image/png"}/
		%link{:href => "assets/favicon.png", :rel => "apple-touch-icon", :type => "image/png"}/
		%link{:href => "assets/favicon.png", :rel => "apple-touch-icon-precomposed", :type => "image/png"}/
		%link{:href => "assets/css/style.css", :rel => "stylesheet", :type => "text/css"}/

		%script{:type => "text/javascript", :src => "assets/vendor/jquery-2.0.2.min.js"}
		%script{:type => "text/javascript", :src => "assets/js/overlay.js"}
		%script{:type => "text/javascript", :src => "assets/js/banner.js"}

	%body
		#header
			#headercontent
				%img{:src => "assets/img/logo.png"}/
				%h1 Monteur op afstand
				%h2 Snel duidelijkheid over oorzaak en kosten

		#content
			%h3.title Voorbeelden

			#blocks
				.block
					.block-content
						%h3 Vaatwasser
						%p De vaatwasser stopte tijdens het programma.<br/><br/>Met online hulp bleek dat het zeepbakje geblokkeerd werd. Samen met monteur het probleem opgelost. 
						%p &gt; Minimaal € 70 besparing op voorrij &amp; reparatiekosten

				.block
					.block-content
						%h3 Wasmachine
						%p De wasmachine gaf een foutmelding.<br/><br/>Samen met de monteur ontdekt dat het een probleem met de watertoevoer was. Het probleem zelf verholpen door de waterstop schoon te maken. De monteur gaf aanwijzingen en ik voerde ze uit.
						%p &gt; Minimaal € 70 besparing op voorrij &amp; reparatiekosten

				.block
					.block-content
						%h3 Koelkast
						%p De koelkast koelde te goed, waardoor de drank bevroor.<br/><br/>Met online hulp werd duidelijk dat het een electronica probleem was. Monteur gaf aan wat de reparatiekosten waren en adviseerde de koelkast te vervangen, gezien de leeftijd van de koelkast.
						%p &gt; Reparatiekosten bekend<br/>&gt; Deskundig koopadvies

				.block
					.block-content
						%h3 Oven
						%p De oven deed het helemaal niet meer.<br/><br/>Met online hulp bleek het een probleem in de meterkast. Weer aanzetten van de zekering was de oplossing.
						%p &gt; Minimaal € 70 besparing op voorrij &amp; reparatiekosten

			%h3.title Producten

			#products
				.block
					.block-content
						%h3 Types
						%ul.products
							%li Wasmachine
							%li Wasdroger
							%li Vaatwasser
							%li Koelkast
							%li Oven
				.block
					.block-content
						%h3 Merken
						%ul.brands
							%li
								%img{:src => "assets/img/brands/miele.jpg", :alt => "Miele"}
							%li
								%img{:src => "assets/img/brands/bosch.jpg", :alt => "Bosch"}
							%li
								%img{:src => "assets/img/brands/electrolux.jpg", :alt => "Electrolux"}
							%li
								%img{:src => "assets/img/brands/siemens.jpg", :alt => "Siemens"}
							%li
								%img{:src => "assets/img/brands/etna.jpg", :alt => "Etna"}
							%li
								%img{:src => "assets/img/brands/asko.jpg", :alt => "Asko"}
							%li
								%img{:src => "assets/img/brands/atag.jpg", :alt => "Atag"}
							%li
								%img{:src => "assets/img/brands/aeg.jpg", :alt => "Aeg"}
							%li
								%img{:src => "assets/img/brands/sharp.jpg", :alt => "Sharp"}
							%li
								%img{:src => "assets/img/brands/pelgrim.jpg", :alt => "Pelgrim"}
							%li
								%img{:src => "assets/img/brands/liebherr.jpg", :alt => "Liebherr"}
							%li
								%img{:src => "assets/img/brands/zanussi.jpg", :alt => "Zanussi"}
							%li
								%img{:src => "assets/img/brands/whirlpool.jpg", :alt => "Whirlpool"} 

		#footer
			%p footer goed here

