.footer
	.title
		%ul
			%li
				%a.entypo-facebook-circled{:href => "https://www.facebook.com/Snack93"}
			%li
				%a.entypo-twitter-circled{:href => "https://twitter.com/SnackDev"}
			%li
				%a.entypo-lastfm-circled{:href => "http://www.last.fm/user/Snack93"}
			%li
				%a.entypo-github-circled{:href => "https://github.com/nohm"}
			%li
				%a.entypo-spotify-circled{:href => "https://play.spotify.com/user/snacksnack"}
			%li
				%a.entypo-skype-circled{:href => "skype:s.snack93?chat"}
