%meta{"http-equiv" => "content-type", :content => "text/html; charset=UTF-8"}/
%meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/

%link{:href => "assets/favicon.png", :rel => "icon", :type => "image/png"}/
%link{:href => "assets/favicon.png", :rel => "apple-touch-icon", :type => "image/png"}/
%link{:href => "assets/favicon.png", :rel => "apple-touch-icon-precomposed", :type => "image/png"}/
%link{:href => "assets/css/style.css", :rel => "stylesheet", :type => "text/css"}/

%script{:type => "text/javascript", :src => "assets/vendor/jquery-2.0.2.min.js"}
%script{:type => "text/javascript", :src => "assets/js/config.js"}
%script{:type => "text/javascript", :src => "assets/js/snack.js"}
%script{:type => "text/javascript", :src => "assets/js/overlay.js"}
%script{:type => "text/javascript", :src => "assets/js/banner.js"}
