// Variables
//$background: url('../../assets/img/bedge_grunge.png') repeat;
$background: #fbfbfb;
$background-banner: url('../../assets/img/bg.jpg') no-repeat fixed 50% 0;
$dark-color: #546360;
$light-color: #fbfbfb;
$main-blue: rgb(39, 75, 106);
$alt-blue: rgb(99, 135, 166);
$main-font: 'Noto Sans', sans-serif;
$title-font: 'Open Sans', sans-serif;

// General Text
@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,400italic,700,700italic);
// Titles
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,300italic);
// Icon font
@import url(http://weloveiconfonts.com/api/?family=entypo);

// Entypo
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

// Text Selection
::selection {
  background-color: rgba(39, 75, 106, 0.3);
}

::-moz-selection {
  background-color: rgba(39, 75, 106, 0.3);
}

::-webkit-selection {
  background-color: rgba(39, 75, 106, 0.3);
}

// General Style
body {
  margin: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background: $background;
  color: $dark-color;
  font-family: $main-font;
  font-size: 0.9em;
  font-weight: 400;
}

a {
  text-decoration: none;
  display: inline-block;
  color: $main-blue;
  font-weight: 700;

  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;

  &:hover {
    color: $alt-blue;
  }
}

p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.5em;
  margin: .5em;
}

h2 {
  font-size: 1.7em;
}

h3 {
  font-size: 1.2em;
}

h1, h2, h3 {
  font-family: $title-font;
  font-weight: 300;
  text-transform: lowercase;
}

// Modules
@import "modules/logo";
@import "modules/overlay";
