// Media scaling for phones etc
@media screen and (max-width: 700px) {
  .left {
    text-align: left;
    .quote {
      margin-left: 0;
      padding-left: .5em;
      border: none;
      border-left: .5em solid $main-accent;
    }
  }

  h2 {
    text-align: center;
    font-size: 2.5em;
    margin: .5em;
    margin-top: -20px;
  }

  .data {
    float: none !important;
    width: 100% !important;

    &:nth-child(1) {
      margin-bottom: -10px;
    }
  }

  .title {
    margin-bottom: -20px;
  }
}
