@charset 'UTF-8';
/* Text */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400);
/* Title */
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:700);
/* Icon font */
@import url(http://weloveiconfonts.com/api/?family=entypo);

/* Entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

body, html {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	width: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
	font-family: 'Droid Sans', sans-serif;
}

#header {
	position: fixed;
	top: 0;
	left: 0;
	height: 100px;
	width: 100%;
	background: #6F5D46;
}

#header h1 {
	margin: 25px;
	font-size: 40px;
	color: #fff;
}

#header img {
	margin: 25px;
	margin-right: 5px;
	float: left;
}

#sidebar {
	display: block;
	position: fixed;
	float: left;
	width: 100px;
	height: 100%;
	background: #2D2D2D;
	text-align: center;
	padding-top: 10px;
}

#sidebar a {
	display: block;
	margin: 20px;
	margin-top: 10px;
	font-size: 35px;
	border-radius: 60px;
	color: #fff;
	text-decoration: none;
}

.about {
	position: fixed;
	bottom: 10;
	left: 20;
}

#sidebar a:nth-child(1) {
	border: 10px solid #FFD800;
	background: #FFD800;
}

#sidebar a:nth-child(2) {
	border: 10px solid #AE3C3C;
	background: #AE3C3C;
}

#sidebar a:nth-child(3) {
	border: 10px solid #62AE3C;
	background: #62AE3C;
}

#sidebar a:nth-child(4) {
	border: 10px solid #3C4FAE;
	background: #3C4FAE;
}

#sidebar a:nth-child(1).selected {
	box-shadow: 0 0 25px #FFD800;
}

#sidebar a:nth-child(2).selected {
	box-shadow: 0 0 25px #AE3C3C;
}

#sidebar a:nth-child(3).selected {
	box-shadow: 0 0 25px #62AE3C;
}

#sidebar a:nth-child(4).selected {
	box-shadow: 0 0 25px #3C4FAE;
}

#content {
	width: auto;
	margin-left: 100px;
	margin-top: 100px;
	padding: 20px;
}

#content h2 {
	font-size: 30px;
}

#content h3 {
	font-size: 20px;
}

#content h2, #content h3 {
	padding: 0;
	margin: 0 0 10px 0;
}

#content p {
	padding: 0;
	margin: 0;
}

.yellow {
	color: #FFD800;
}

.red {
	color: #AE3C3C;
}

.green {
	color: #62AE3C;
}

.blue {
	color: #3C4FAE;
}

hr {
	border-color: #2D2D2D;
}
