@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,300italic);
@import url(http://weloveiconfonts.com/api/?family=entypo);
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif; }

* {
  margin: 0;
  padding: 0;
  overflow: auto; }

::selection {
  background-color: rgba(39, 75, 106, 0.3); }

::-moz-selection {
  background-color: rgba(39, 75, 106, 0.3); }

::-webkit-selection {
  background-color: rgba(39, 75, 106, 0.3); }

body {
  margin: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background: #fbfbfb;
  color: #546360;
  font-family: "Noto Sans", sans-serif;
  font-size: 0.9em;
  font-weight: 400; }

a {
  text-decoration: none;
  display: inline-block;
  color: #274b6a;
  font-weight: 700;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s; }
  a:hover {
    color: #6387a6; }

p {
  margin: 0;
  padding: 0; }

h1 {
  font-size: 2.5em; }

h2 {
  font-size: 1.7em; }

h3 {
  font-size: 1.2em; }

h1, h2, h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  text-transform: lowercase; }

#headercontent,
#content {
  width: 60%;
  min-width: 700px;
  margin: 0 auto; }

#header {
  height: 100px;
  background: #dedede; }
  #header img {
    max-height: 90px;
    float: left;
    margin: 5px;
    margin-right: 10px; }

#content .title {
  padding: 10px;
  background: #f1f1f1; }

.block {
  float: left; }
  .block .block-content {
    background: #f1f1f1;
    margin: 10px 5px; }
    .block .block-content * {
      padding: 10px 5px; }
    .block .block-content h3 {
      background: #dedede; }

#blocks .block {
  width: 25%;
  min-width: 225px; }
#blocks p:nth-child(2) {
  min-height: 220px; }
#blocks p:nth-child(3) {
  min-height: 40px; }

#products .block {
  width: 50%;
  min-width: 450px; }
#products li {
  margin: 0;
  padding: 0; }
#products .brands li {
  float: left;
  height: 40px;
  width: 120px;
  overflow: hidden; }
  #products .brands li img {
    max-height: 60px;
    max-width: 120px; }
