@charset 'UTF-8';
/* General Text */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic);
/* Titles */
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
/* Icon font */
@import url(http://weloveiconfonts.com/api/?family=entypo);

/* Entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/* Text Selection */
::selection {
  background-color: rgba(116, 212, 179, 0.3);
}

::-moz-selection {
  background-color: rgba(116, 212, 179, 0.3);
}

::-webkit-selection {
  background-color: rgba(116, 212, 179, 0.3);
}

/* General Style */
body {
  margin: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #fbfbfb;
  color: #546360;
  font: 0.9em 'Roboto', sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #74d4b3;
  font-weight: 700;

  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

a:hover {
  color: #74d490;
}

p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.5em;
  margin: .5em;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-transform: lowercase;
}

/* Banner Style */
#banner {
  background: url('../../assets/img/bg.jpg') no-repeat fixed 50% 0;
  background-size: cover;
  color: #fbfbfb;
  text-align: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#banner-text {
  width: 24em;
  position: fixed;
  top: 25%;
  left: 50%;
  border: .5em solid #fbfbfb;
  border-radius: .8em;
  margin-left: -12em;
  padding: 2em 0;

  cursor: pointer;
  webkit-transition: border 0.3s ease 0s;
  -o-transition: border 0.3s ease 0s;
  transition: border 0.3s ease 0s;
}

#banner-text:hover {
  border-color: #74d490;
}

#banner-text img {
  max-width: 22em;
}

/* Content Style */
#content {
  width: 80%;
  margin: 0 auto;
}

.section {
  border-top: .1em solid #d0d0d0;
  overflow: auto;
}

.title {
  text-align: center;
  margin-bottom: .5em;
}

.data {
  width: 50%;
}

.data div {
  margin: 1.2em;
}

.img-container {
  border: .1em solid #d0d0d0;
  border-radius: .2em;
}

.img-container,
.img-anchor img {
  position: relative;
}

.img-anchor img {
  width: 100%;
  margin-bottom: -4px;
}

.text-container div {
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

.text-container a {
  border-bottom: .1em dotted #74d4b3;
}

.text-container a:hover {
  border-bottom: .1em dotted #74d490;
}

.left {
  float: left;
  text-align: right;
}

.right {
  float: right;
  text-align: left;
}

.img-anchor:after {
  text-align: center;
  font-size: 1.5em;
  padding-top: 25%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: 'View full image?';
  background: rgba(255,255,255,0.8);
  
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  opacity: 0;
}

.img-anchor:hover:after {
  opacity: 1;
}

/* Quote Style */
.quote {
  font-style: italic;
  margin-bottom: 0;
}

.left .quote {
  margin-right: 0;
  padding-right: .5em;
  border-right: .5em solid #74d4b3;
}

.right .quote {
  margin-left: 0;
  padding-left: .5em;
  border-left: .5em solid #74d4b3;
}

/* Footer Style */
.footer {
  border-top: .1em solid #d0d0d0;
  z-index: 100;
}

.footer ul {
  font-size: 3em;
  padding: .5em 0;
  margin: 0;
}

.footer ul li {
  display: inline-block;
  margin: 0 .5em;
}

/* Overlay */
#overlay-wrapper {
  display: none;
  position: fixed;
  z-index: 999;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.4);
}

#overlay-wrapper img {
  display: block;
  max-width: 90%;
  max-height: 90%;
  cursor: pointer;
  
  border: .5em solid #74d4b3;
  border-radius: .8em;

  -webkit-transition: border 0.3s ease 0s;
  -o-transition: border 0.3s ease 0s;
  transition: border 0.3s ease 0s;
}

#overlay-wrapper img:hover {
  border: .5em solid #74d490;
}
