@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);
@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

body {
  margin: 0;
  background-color: #f7f6eb;
}

/* Text Selection */
::selection {
  background-color: #f7f6eb;
}

::-moz-selection{
  background-color: #f7f6eb;
}

::-webkit-selection {
  background-color: #f7f6eb;
}

a {
  text-decoration: none;
  color: #515151;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
}

a:hover {
  color: #a1a1a1;
}

header {
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  background-color: #74d4b3; 
  position: fixed;
  top: 0px;
}

.inside {
  max-width: 800px;
  margin: 0px auto;  
  padding: 7px 30px;
}

#logo {
  color: white;
  font-family: 'Lobster', cursive;
  font-size: 3.1em;
  text-decoration: none;
  display: inline-block;
  float: left;
}

#logo img {
  border-radius: 50%;
  border: 3px solid #f7f7f7;
  float: left;
}

#logo p {
  display: inline-block;
  margin-top: 0px;
  margin-left: 2px;
  float: left;
}

header #menu {
  display: none;
  float: right;
  color: white;
  font-size: 2.6em;
  text-decoration: none;
  margin-top: 13px;
}

header #menu:hover {
  color: #f7f7f7;
}

header nav ul {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 80px;
  right: 0px;
  display: none;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  width: 100px;
  padding: 15px 25px;
  display: inline-block;
  background-color: white;
  color: #74d4b3;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 1em;
  text-decoration: none;
  border-bottom: 1px dashed #74d4b3;
}

header nav ul li a:hover {
  color: white;
  background-color: #74d4b3;
}

header nav ul li a.last {
  border: none;
}

#header-show {
  margin-top: -10px;
  margin-bottom: -10px;
  padding: 8px 13px;
  float: right;
  color: white;  
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 2em;
  text-decoration: none;
  background-color: #74d4b3;
  cursor: pointer;
}

section article {
  width: 92%;
  margin: 0 auto;
  padding: 3%;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 0.8em;
}

section h1 {
  width: 92%;
  margin: 0px auto;
  margin-top: 75px;
  padding: 3%;
  background-color: white;
  color: #515151;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  font-size: 2em;
}

section #works, section #about, section #contact {
  width: 98%;
  margin: 10px auto;
  padding: 0px;
}

section h2 {
  width: 100%;
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 3em;
  text-align: center;
  background-color: #ef8974;
  margin: 15px 0px;
  padding: 15px 0px;
}

section .work {
  margin: 15px auto;
  background-color: white;
}

section .work img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

section .about  {
  margin: 15px auto;
  background-color: white;
  padding: 20px;
}

section h3 {
  width: 100%;
  color: #515151;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 3em;
  text-align: center;
  margin: 0px;
  padding: 15px 0px;
}

section .work p {
  padding: 5px 20px;
  background-color: white;
}

section .contact  {
  margin: 15px auto;
  background-color: white;
  padding: 20px;
}

section .contact textarea {
  width: 94%;
  height: 200px;
  margin: 0px auto;
  padding: 3%;
  border: none;
  color: #515151;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.4em;
  font-weight: 400;
}

section .contact input {
  text-decoration: none;
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.4em;
  font-weight: 600;
  text-align: center;
  background-color: #ed6e64;
  border: none;
  margin-top: 10px;
  padding: 5px 20px;
}

.preserve {
  white-space: pre-wrap;
}

section h4 {
    text-align: center;
    margin-top: 0px;
    padding-bottom: 20px;
    height: 40px
}

section h4 a {
  text-decoration: none;
  width: 100%;
  color: #515151;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2em;
}

section h4 a:hover {
  color: #a1a1a1;
}

footer {
  width: 94%;
  margin: 0px auto;
  padding: 1% 3%;
  background-color: white;
  color: #515151;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  font-size: 3em;
  text-align: center;
}

footer ul {
  padding: 10px 0px;
  margin: 0px;
}

footer ul li {
  display: inline-block;
  margin: 0px 15px;
}

footer ul li a {
  color: #74d4b3;
  text-decoration: none;
}

footer ul li a:hover {
  color: #74d490;
}

/* Code Blocks */
.code-wrapper {
  display: block;
  
  font-family: 'Source Code Pro', sans-serif;
  font-size: 12px;
  line-height: 1.2em;
  text-align: left;
}

.last {
  padding-bottom: 15px;
}

.code-wrapper .code-title, .code-wrapper .code {
  padding: 0 20px;
  white-space: pre-wrap;
}

.code-wrapper .code-title {
  margin: 0;
  font-size: 13px;
}

.code-wrapper .code-title .code-label {
  display: none;
  float: right;
}

/* Code colours */
.black {
  color: #34495e;
}

.grey {
  color: #7f8c8d;
}

.green {
  color: #27ae60;
}

.yellow {
  color: #f1c40f;
}

.cyan {
  color: #3498db;
}

.pink {
  color: #e67e22;
}

.red {
  color: #c0392b;
}

.orange-red {
  color: #d35400;
}

/* Overlay */
#overlay-wrapper {
  display: none;
  position: fixed;
  z-index: 999;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.4);
}

#overlay-wrapper img,
#overlay-inner {
  display: block;
  max-width: 90%;
  max-height: 80%;
}

#overlay-wrapper img {
  border: 5px solid #f7f7f7;
}

#overlay-inner {
    margin: 0 auto;
    margin-bottom: -30px;
}

#overlay-inner ul {
  margin:; 0;
  padding: 0;
}

#overlay-inner li {
    display: inline-block;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2em;
    color: #fff;
}

#overlay-inner-close {
  float: right;
  cursor: pointer;
}