#overlay-wrapper {
  img {
    transition: box-shadow 0.3s ease 0s, border 0.3s ease 0s;
    -moz-transition: box-shadow 0.3s ease 0s, border 0.3s ease 0s;
    -webkit-transition: box-shadow 0.3s ease 0s, border 0.3s ease 0s;
    &:hover {
      transition: box-shadow 0.3s ease 0s, border 0.3s ease 0s;
      -moz-transition: box-shadow 0.3s ease 0s, border 0.3s ease 0s;
      -webkit-transition: box-shadow 0.3s ease 0s, border 0.3s ease 0s;
      box-shadow: 0px 0px 5px #e74c3c;
      border: 1px solid #e74c3c;
    }
    display: block;
    max-width: 90%;
    max-height: 90%;
    cursor: pointer;
    box-shadow: 0px 0px 10px #34495e;
    border: 1px solid #34495e;
  }
  display: none;
  position: fixed;
  z-index: 999;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
