/*::selection {
    background: darkblue;
}*/
html, body {
    height: 100%;
    margin: 0;
    width: 100%;
}
body {
    background-color: #000;
    color: #88ff00;
    font-family: Inconsolata,monospace;
    font-size: 12px;
}

#terminal{
	white-space:pre;
    margin-left:auto;
    margin-right:auto;
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.4);
    width:650px;
    font: inherit;
    border: none;
    background-color: transparent;
    outline: none;
    color: inherit; 
}
A,.highlight{
  color: red;
}